body {
    margin: 0px;
    height: 800px;
}

#header {
    background-color: #393939;
    height: 155px;
}

#footer {
    background-color: #222222;
    height: 100px;
    position: relative;
    z-index: 1;
    top: -100px;
}

.side {
    background-color: #adadad;
    height: 1000px;
    width: 155px;
    position: relative;
    z-index: 2;
}

.justify-bt {
    display: flex;
    justify-content: space-between;
}

