body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

p {
  color: #000080;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 550;
  margin: 3px;
}

#div-1 {
  height: 200px;
  width: 97%;
  border: 5px solid black;
  margin: 20px;
}

#div-purple {
  height: 66%;
  width: 50px;
  background-color: #8a2be2;
  margin: 20px 30px;
}

#div-green {
  height: 82%;
  width: 33%;
  background-color: #228b22;
  margin: 20px 30px;
}

#div-blue-circle {
  height: 82%;
  width: 10%;
  border-radius: 50%;
  background-color: #87ceeb;
  margin: 20px 30px;
}

#div-2 {
  height: 300px;
  width: 97%;
  border: 5px dotted black;
  margin: 20px;
}
#div-yellow-shadow {
  height: 80%;
  width: 95%;
  background-color: #fffacd;
  box-shadow: 10px 10px 8px 1px black;
}

#div-3 {
  height: 400px;
  width: 45%;
  box-shadow: 5px 5px 3px 1px gray;
  border: 1px solid gray;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-jst-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
